n8n/workflow_collect.json
{
  "name": "[보관] COA NEWS - 구형 뉴스 수집",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "⏰ 매일 06:00 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.supabaseUrl }}/rest/v1/tracked_keywords",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.active" },
            { "name": "select", "value": "id,keyword,category" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.supabaseKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.supabaseKey }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "get-keywords",
      "name": "📋 키워드 조회 (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Supabase 접속 정보를 설정합니다\n// n8n Credentials 또는 환경변수에서 가져옵니다\nconst config = {\n  supabaseUrl: $env.SUPABASE_URL || '여기에_SUPABASE_URL_입력',\n  supabaseKey: $env.SUPABASE_SERVICE_ROLE_KEY || '여기에_SERVICE_ROLE_KEY_입력',\n  naverClientId: $env.NAVER_CLIENT_ID || '여기에_NAVER_CLIENT_ID_입력',\n  naverClientSecret: $env.NAVER_CLIENT_SECRET || '여기에_NAVER_CLIENT_SECRET_입력',\n};\n\nreturn [{ json: config }];"
      },
      "id": "set-config",
      "name": "⚙️ 설정 로드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-keywords",
      "name": "🔄 키워드별 루프",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://openapi.naver.com/v1/search/news.json?query={{ encodeURIComponent($json.keyword) }}&display=20&sort=date",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Naver-Client-Id", "value": "={{ $('⚙️ 설정 로드').first().json.naverClientId }}" },
            { "name": "X-Naver-Client-Secret", "value": "={{ $('⚙️ 설정 로드').first().json.naverClientSecret }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 15000
        }
      },
      "id": "naver-search",
      "name": "🟢 네이버 뉴스 검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://news.google.com/rss/search?q={{ encodeURIComponent($json.keyword) }}&hl=ko&gl=KR&ceid=KR:ko",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 15000
        }
      },
      "id": "google-rss",
      "name": "🔵 구글 뉴스 RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 420],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 네이버 뉴스 결과 가공\nconst keyword = $('🔄 키워드별 루프').first().json;\nconst naverResponse = $('🟢 네이버 뉴스 검색').first().json;\nconst googleResponse = $('🔵 구글 뉴스 RSS').first().json;\n\nfunction stripHtml(str) {\n  return String(str || '')\n    .replace(/<[^>]*>/g, '')\n    .replace(/&quot;/g, '\"')\n    .replace(/&amp;/g, '&')\n    .replace(/&#39;/g, \"'\");\n}\n\nfunction toIsoOrNull(dateStr) {\n  if (!dateStr) return null;\n  const d = new Date(dateStr);\n  return Number.isNaN(d.getTime()) ? null : d.toISOString();\n}\n\n// 네이버 뉴스 아이템 파싱\nconst naverItems = (naverResponse?.items || []).map(item => ({\n  keyword_id: keyword.id,\n  category: keyword.category,\n  source: 'naver_news',\n  title: stripHtml(item.title),\n  url: item.link,\n  summary: stripHtml(item.description || ''),\n  published_at: toIsoOrNull(item.pubDate),\n}));\n\n// 구글 뉴스 RSS XML 파싱 (간이)\nconst googleXml = typeof googleResponse === 'string' ? googleResponse : (googleResponse?.data || '');\nconst googleItems = [];\nconst itemRegex = /<item>(.*?)<\\/item>/gs;\nlet match;\nwhile ((match = itemRegex.exec(googleXml)) !== null) {\n  const block = match[1];\n  const titleMatch = block.match(/<title>(.*?)<\\/title>/);\n  const linkMatch = block.match(/<link>(.*?)<\\/link>/);\n  const pubDateMatch = block.match(/<pubDate>(.*?)<\\/pubDate>/);\n  if (titleMatch && linkMatch) {\n    googleItems.push({\n      keyword_id: keyword.id,\n      category: keyword.category,\n      source: 'google_news',\n      title: stripHtml(titleMatch[1]),\n      url: linkMatch[1],\n      summary: null,\n      published_at: toIsoOrNull(pubDateMatch ? pubDateMatch[1] : null),\n    });\n  }\n}\n\nconst allItems = [...naverItems, ...googleItems];\n\n// 중복 URL 제거\nconst seen = new Set();\nconst unique = allItems.filter(item => {\n  if (seen.has(item.url)) return false;\n  seen.add(item.url);\n  return true;\n});\n\nreturn unique.map(item => ({ json: item }));"
      },
      "id": "process-results",
      "name": "🔄 결과 가공 + 중복제거",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('⚙️ 설정 로드').first().json.supabaseUrl }}/rest/v1/raw_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('⚙️ 설정 로드').first().json.supabaseKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('⚙️ 설정 로드').first().json.supabaseKey }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=ignore-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "keyword_id", "value": "={{ $json.keyword_id }}" },
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "source", "value": "={{ $json.source }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "url", "value": "={{ $json.url }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "published_at", "value": "={{ $json.published_at }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "upsert-articles",
      "name": "💾 Supabase 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('⚙️ 설정 로드').first().json.supabaseUrl }}/rest/v1/tracked_keywords?id=eq.{{ $('🔄 키워드별 루프').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('⚙️ 설정 로드').first().json.supabaseKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('⚙️ 설정 로드').first().json.supabaseKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"last_article_at\": \"{{ new Date().toISOString() }}\" }",
        "options": {}
      },
      "id": "update-keyword-ts",
      "name": "🕐 키워드 타임스탬프 갱신",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 수집 결과 요약\nconst items = $input.all();\nconst total = items.length;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    message: `✅ 뉴스 수집 완료`,\n    total_processed: total,\n    completed_at: timestamp\n  }\n}];"
      },
      "id": "summary",
      "name": "📊 수집 완료 요약",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    }
  ],
  "connections": {
    "⏰ 매일 06:00 실행": {
      "main": [
        [{ "node": "⚙️ 설정 로드", "type": "main", "index": 0 }]
      ]
    },
    "⚙️ 설정 로드": {
      "main": [
        [{ "node": "📋 키워드 조회 (Supabase)", "type": "main", "index": 0 }]
      ]
    },
    "📋 키워드 조회 (Supabase)": {
      "main": [
        [{ "node": "🔄 키워드별 루프", "type": "main", "index": 0 }]
      ]
    },
    "🔄 키워드별 루프": {
      "main": [
        [
          { "node": "🟢 네이버 뉴스 검색", "type": "main", "index": 0 },
          { "node": "🔵 구글 뉴스 RSS", "type": "main", "index": 0 }
        ],
        [{ "node": "📊 수집 완료 요약", "type": "main", "index": 0 }]
      ]
    },
    "🟢 네이버 뉴스 검색": {
      "main": [
        [{ "node": "🔄 결과 가공 + 중복제거", "type": "main", "index": 0 }]
      ]
    },
    "🔵 구글 뉴스 RSS": {
      "main": [
        [{ "node": "🔄 결과 가공 + 중복제거", "type": "main", "index": 0 }]
      ]
    },
    "🔄 결과 가공 + 중복제거": {
      "main": [
        [{ "node": "💾 Supabase 저장", "type": "main", "index": 0 }]
      ]
    },
    "💾 Supabase 저장": {
      "main": [
        [{ "node": "🕐 키워드 타임스탬프 갱신", "type": "main", "index": 0 }]
      ]
    },
    "🕐 키워드 타임스탬프 갱신": {
      "main": [
        [{ "node": "🔄 키워드별 루프", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "tags": [
    { "name": "coa-news" },
    { "name": "collect" }
  ]
}
